*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit, sans-serif;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap row;
  min-height: 100vh;
  background-color: #0d192b;
}

#card {
  position: relative;
  gap: 1.5rem;
  padding: 1.5rem;
  background-color: #14253d;
  border-radius: 0.75rem;
  max-width: calc(1.5rem * 2 + 19rem);
  margin: 1.5rem;
  filter: drop-shadow(0 60px 30px hsl(217, 54%, 10%)) 
  drop-shadow(10px 0 20px hsl(217, 54%, 11%));
}

#card .image {
  display: block;
  position: relative;
  height: 19rem;
  width: 100%;
  background-image: url("../images/image-equilibrium.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center !important;
  cursor: pointer;
  background-blend-mode: lighten;
  transition: all 350ms ease-in-out;
  border-radius: .5rem;
}

#card .image:hover {
  background-color: rgba(6, 224, 216, 0.521);
}

#card .image:hover img {
  visibility: visible;
}

#card .image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

#card .name {
  margin-top: 1.5rem;
  font-size: 1.35rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

#card .name:hover {
  color: #00fff7;
}

#card .text {
  margin-top: 1.5rem;
  font-size: 1.125rem;
  font-weight: 300;
  color: #8bacda;
}

#card .data {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap row;
}

#card .data .ethereum {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap row;
  color: #00fff7;
  font-weight: 600;
}

#card .data .time {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: wrap row;
  color: #8bacda;
  text-align: right;
  font-weight: 400;
}

#card .user {
  margin-top: 1.5rem;
  color: #8bacda;
  padding: 0.75rem 0;
  border-top: 1px solid #2f415b;
}

#card .user__data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: wrap row;
}

#card .user__image {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-image: url("../images/image-avatar.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: transparent 1px solid;
  border-radius: 50%;
  transition: all 250ms ease-in-out;
}

#card .user__name {
  color: white;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  transition: all 250ms ease-in-out;
}

#card .user__name:hover {
  color: #00fff7;
}

.border {
  border-color: white !important;
}
